
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.error{
    color: red;
    font-size: 16px;
}

@media (min-width: 922px) {
    .site-content .ast-container {
        display: block;
    }
}